<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494274419446-ekiuvmog4p3o7df040pjjfmci6kjivo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494274419446-ekiuvmog4p3o7df040pjjfmci6kjivo3</string>
	<key>API_KEY</key>
	<string>AIzaSyC5spMhNl9wax350nAhJHb2vTmj-RqqFNc</string>
	<key>GCM_SENDER_ID</key>
	<string>494274419446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tictactoe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-3fcb3</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-3fcb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494274419446:ios:d9525d9bc325f5ef03aad7</string>
	<key>DATABASE_URL</key>
	<string>https://tictactoe-3fcb3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>